$yellow: #F1AE01;
$blue: #0099fa;
$red: rgb(162, 78, 78);
h1 {
    font-size: 3rem;
}
  
p {
    font-size: 14px;
}

input {
    &[type=email], &[type="date"], &[type=password], &[type=search], &[type=tel], &[type=text] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #fff;
        border-radius: 12px;
        border: 1px solid transparent;
        height: 40px;
        padding: 8px 18px 5px 18px;
        width: 250px;
        margin: 0 20px 20px 0;
        max-width: 576px;
        font-size: 14px;
        color: #090a0b;
        outline: 0;
        transition: .3s ease-out;
        border: 2px solid #f9f9f9;
        border-radius: 12px;
        outline: 0;
        &:focus {
            border-color:$yellow;
        }
        &:disabled {
            background: gray;
            border-color: gray;
        }
    }
    &[type="date"]::-webkit-calendar-picker-indicator {
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }
}

.input-radio {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:checked ~ {
            .input-radio__indicator {
                background: $yellow;
                &::after {
                    display: block;
                }
            }
        }
    }
}

.input-radio__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    &:after {
        left: 7px;
        top: 7px;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background: #fff;
        content: '';
        position: absolute;
        display: none;
    }
}

.field-item {
    position: relative;
}

.btn {
    background: lightgray;
    outline: 0;
    cursor: pointer;
    font-size: 16px;
    color: #090a0b;
    display: inline-block;
    max-width: 100%;
    width: 250px;
    text-align: center;
    transition: .2s;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    padding: 15px 33px 13px 33px;
    color: #000;
    font-weight: 400;
    border-radius: 12px;
    border: 1px solid lightgray;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:hover {
        opacity: 0.8;       
    }
    &.btn-primary {
        background: $blue;
        border-color: $blue;
        color: #fff;
    }
    &.btn-danger {
        background: $red;
        border-color: $red;
        color: #fff;
    }
    &:disabled {
        opacity: 0.5 !important;
        color: #fff;
        cursor: not-allowed;
    }
}